.space{
  margin-left: 173px;
}

.nav-wrapper{
  background-color: midnightblue;
}

.page-footer{
  background-color: midnightblue;
  margin-top: -5.1px;
}

.footer-copyright{
  text-align: center;
  margin-top: -20px;
}

